@{
    ViewBag.Title = "Contact";
}

<address>
    PandaWood<br />
    RedForest, PandaLand<br />
    <abbr title="Phone">P:</abbr>
    0888/888888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hotfix.net">Support@hotfix.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@hotfix.net">Marketing@hotfix.net</a>
</address>