@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Panda HotF(i)X</h1>
    <p class="lead">Team Panda HotF(i)X's project for the Software Univerity practical group project task</p>
    <p><a href="http://hotfix.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>About us</h2>
        <p>
            You can read more about our team in the section "About us".
        </p>
        <p><a class="btn btn-default" href="http://hotfix.net/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Contact</h2>
        <p>Our contact information can be found under the "Contact us" section.</p>
        <p><a class="btn btn-default" href="http://hotfix.net/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Game</h2>
        <p>You can find our game under the section "Game".</p>
        <p><a class="btn btn-default" href="http://hotfix.net/Game">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Blog</h2>
        <p>You can check our blog dedicted to the game under the section "Blog".</p>
        <p><a class="btn btn-default" href="http://hotfix.net/Blog">Learn more &raquo;</a></p>
    </div>
</div>